---
---

@import "{{ site.theme }}";

#title.hr {
  margin: 0 0 -20px;
}
span.credits {
    position: absolute;
    bottom: 0;
}
span.credits.left {
  left: 0;
}
span.credits.right {
  right: 0;
}


.wrapper {
  max-width: 50%;
}
section {
  max-width: 100%;
}
