---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 50%;
}
section {
  max-width: 100%;
}

span.credits {
    position: absolute;
    bottom: 0;
}
span.credits.left {
  left: 0;
}
span.credits.right {
  right: 0;
}
